
@mixin primary-action($width){
	color: #FFF;
	display: block;
	width:$width;
	padding: 1em 1.5em 1em 1.5em;
	margin: auto;
	background: #ccd700; /* Old browsers */
	background: -moz-linear-gradient(top,  #ccd700 0%, #b1bb1e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccd700), color-stop(100%,#b1bb1e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ccd700 0%,#b1bb1e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ccd700 0%,#b1bb1e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ccd700 0%,#b1bb1e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ccd700 0%,#b1bb1e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 ); /* IE6-9 */
}

@mixin secondary-action($width){
	color: #FFF;
	display:block;
	width: $width;
	padding: 0.5em 1.5em 1em 1.5em;
	// margin: 2em auto 1em auto;
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #acacac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#acacac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#acacac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dddddd 0%,#acacac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dddddd 0%,#acacac 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dddddd 0%,#acacac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#acacac',GradientType=0 ); /* IE6-9 */
}

@mixin brand-action{
	display:block;
	width: 13em;
	padding: 0.7em 1.5em 0.7em 1.5em;
	background: #70e3e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #70e3e3 0%, #2dcaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70e3e3), color-stop(100%,#2dcaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #70e3e3 0%,#2dcaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #70e3e3 0%,#2dcaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #70e3e3 0%,#2dcaca 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #70e3e3 0%,#2dcaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70e3e3', endColorstr='#2dcaca',GradientType=0 ); /* IE6-9 */
}


@mixin h1-after{
	content:"";
	display:block;
	position:absolute;
	width:10em;
	height:3px;
	margin-top:0.4em;
	background-color: #2DCACA;
}

@mixin h1-after-mobile{
	content:"";
	display:block;
	margin: auto;
	width:12em;
	height:3px;
	margin-top:0.7em;
	background-color: #2DCACA;
}
