
@import 'reset';
@import 'mixins';
@import 'typography';


$grey: #F9F9F9;
$darkgrey: #595959;
$brandcolour1: #01B1AF;
$phone: 20em;
$desktop: 40em;


#container{
	width:80%;
	margin:auto;
}

#secondaryNav{
	background-color: $grey;
	width:100%;
	float:left;
	
		@media (min-width: $phone) {

			height: 3em;

			i{
				outline: red solid;
			}

			ul{
				display:none;
			}

			.searchbox{
					display:none;
				}
			}

		@media (min-width: $desktop) {
		
			ul{
				float:right;
				display:block;
				
				li{
					display: inline-block;
					padding: 1.6em 1em;
				}
		}

		.searchbox{
				float:right;
			}
		}

}

#secondaryNav:before{
	width:100%;
	height:4px;
	display:block;
	content: "";
	background-color: $brandcolour1;
}

#mainNav{
	width: 100%;
	float:left;

		@media (min-width: $phone){
			
			text-align: center;

			 ul{
				display:none;
			 }
		}	
	
		@media (min-width: $desktop){

			 ul{
				float: right;
				display:block;

					li{
						display: inline-block;
						padding: 2em 1em;
					}
	 			}
		}

	 .logo{
	 	width:18em;
	 	padding: 0.9em 0;
	 }
}

.headerImage{
	position:absolute;
	width:100%;
	top:8em;
	left:0;

		img{
			height:17em;

			@media (min-width: $phone){
				margin-left:-90%;
			}

			@media (min-width: $desktop){
				margin-left:0%;
			}	
		}
}

.info{
	background-color: $darkgrey;
	float:left;
	margin-top:17em;
	color: white;

		@media (min-width: $phone){
			text-align: center;
		}
}

.primary{
	@include primary-action(12em);
}

.whatWeOffer{
	float:left;
	text-align: center;

	 h3.servicesMain{
	 	@include primary-action(100%);
	 }
	 h3.servicesSecond{
	 	@include secondary-action(100%);
	 }
}

.whyRenaissance{
	float:left;
	text-align: center;

	h1:after{
		@include h1-after-mobile;
	}
}

.latestBlogPost{
	float:left;
	text-align: center;

	h1:after{
		@include h1-after-mobile;
	}

	a{
		@include brand-action;
		color: white;
		margin: 1em auto 1em auto;
	}
}
