/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 1em 0 0.5em 0;
  font-size: 1.5em;
  line-height: 120%; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 1em 0 0.5em 0.3em;
  font-size: 1.5em;
  line-height: 120%;
  margin: 0.5em; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 1.5em 0 0.5em 0.3em;
  font-size: 1.2em;
  line-height: 120%; }

p {
  font-family: Helvetica;
  font-weight: Lighter;
  font-size: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 130%; }

a {
  text-decoration: none;
  font-family: Helvetica;
  font-weight: Lighter; }

body, html {
  width: 100%;
  overflow-x: hidden; }

#container {
  width: 80%;
  margin: auto; }

#secondaryNav {
  background: linear-gradient(to bottom, #01B1AF 0%, #01B1AF 4px, #F9F9F9 4px, #F9F9F9 100%);
  position: relative;
  width: 100%;
  float: left; }
  @media (min-width: 20em) {
    #secondaryNav {
      height: 3em; }
      #secondaryNav ul {
        display: none; }
      #secondaryNav .searchbox {
        display: none; } }
  @media (min-width: 70em) {
    #secondaryNav ul {
      float: right;
      display: block; }
      #secondaryNav ul li {
        display: inline-block;
        padding: 1.2em 1em; }
        #secondaryNav ul li a {
          color: #595959;
          font-size: 0.8em; }
    #secondaryNav .searchbox {
      float: right;
      display: block;
      outline: red solid; } }

#secondaryNav:before, #secondaryNav:after {
  top: 0;
  width: 100em;
  height: 3em;
  display: block;
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, #01B1AF 0%, #01B1AF 4px, #F9F9F9 4px, #F9F9F9 100%); }

#secondaryNav:before {
  left: 100%; }

#secondaryNav:after {
  right: 100%; }

.mobileNavHandle i:nth-child(1) {
  font-size: 2em;
  color: #676767;
  position: absolute;
  top: 0.3em;
  left: -0.2em; }
.mobileNavHandle i:nth-child(2) {
  font-size: 1.6em;
  color: #676767;
  position: absolute;
  top: 0.5em;
  left: 1.5em; }
@media (min-width: 70em) {
  .mobileNavHandle {
    display: none; } }

#mainNav {
  width: 100%;
  float: left; }
  @media (min-width: 20em) {
    #mainNav {
      text-align: center; }
      #mainNav ul {
        display: none; } }
  @media (min-width: 70em) {
    #mainNav ul {
      float: right;
      display: block; }
      #mainNav ul li {
        display: inline-block;
        padding: 2em 1em; }
        #mainNav ul li a {
          color: #595959; }
      #mainNav ul li.current {
        background-color: #2DCACA; }
        #mainNav ul li.current a {
          color: white; } }
  #mainNav .logo {
    width: 18em;
    padding: 0.9em 0;
    margin: 0 !important; }
    @media (min-width: 70em) {
      #mainNav .logo {
        display: block;
        float: left; } }

.headerImage {
  position: absolute;
  width: 100%;
  top: 8em;
  left: 0;
  overflow: hidden; }
  @media (min-width: 20em) {
    .headerImage {
      height: 17em; } }
  @media (min-width: 70em) {
    .headerImage {
      height: 26em; } }

.arrow {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  float: left; }
  @media (min-width: 20em) {
    .arrow {
      margin-top: 15em; } }
  @media (min-width: 70em) {
    .arrow {
      margin-top: 23em; } }

.info {
  background-color: #595959;
  float: left;
  margin-top: -0.2em;
  color: white;
  position: relative; }
  @media (min-width: 20em) {
    .info {
      text-align: center; } }
  @media (min-width: 70em) {
    .info {
      text-align: left; } }
  .info .primary {
    color: #FFF;
    display: block;
    width: 12em;
    padding: 1em 1.5em 1em 1.5em;
    background: #ccd700;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
    /* IE6-9 */
    margin: 0.5em auto 3.5em auto; }
    @media (min-width: 70em) {
      .info .primary {
        margin: 0.5em 0 3em 0;
        color: #FFF;
        display: block;
        width: 9em;
        padding: 1em 1.5em 1em 1.5em;
        background: #ccd700;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
        /* IE6-9 */ } }

.info:before, .info:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #595959; }

.info:before {
  left: 100%; }

.info:after {
  right: 100%; }

.whatWeOffer {
  float: left;
  text-align: center; }
  .whatWeOffer h3.servicesMain {
    color: #FFF;
    display: block;
    width: auto;
    padding: 1em 1.5em 1em 1.5em;
    background: #ccd700;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
    /* IE6-9 */
    position: relative; }
  .whatWeOffer h3.servicesSecond {
    color: #FFF;
    display: block;
    width: auto;
    padding: 0.5em 1.5em 1em 1.5em;
    background: #dddddd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #acacac));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%, #acacac 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#acacac',GradientType=0 );
    /* IE6-9 */
    position: relative; }
  .whatWeOffer h3.servicesMain:after, .whatWeOffer h3.servicesMain:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 200px;
    background: #ccd700;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
    /* IE6-9 */ }
  .whatWeOffer h3.servicesSecond:after, .whatWeOffer h3.servicesSecond:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 200px;
    background: #dddddd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #acacac));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%, #acacac 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#acacac',GradientType=0 );
    /* IE6-9 */ }
  .whatWeOffer h3.servicesMain:before {
    left: 100%; }
  .whatWeOffer h3.servicesSecond:before {
    left: 100%; }
  .whatWeOffer h3.servicesMain:after {
    right: 100%; }
  .whatWeOffer h3.servicesSecond:after {
    right: 100%; }

.whyRenaissance {
  float: left;
  text-align: center; }
  .whyRenaissance h1:after {
    content: "";
    display: block;
    margin: auto;
    width: 12em;
    height: 3px;
    margin-top: 0.7em;
    background-color: #2DCACA; }

.latestBlogPost {
  float: left;
  text-align: center; }
  .latestBlogPost h1:after {
    content: "";
    display: block;
    margin: auto;
    width: 12em;
    height: 3px;
    margin-top: 0.7em;
    background-color: #2DCACA; }
  .latestBlogPost a {
    display: block;
    width: 13em;
    padding: 0.7em 1.5em 0.7em 1.5em;
    background: #70e3e3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70e3e3), color-stop(100%, #2dcaca));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #70e3e3 0%, #2dcaca 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70e3e3', endColorstr='#2dcaca',GradientType=0 );
    /* IE6-9 */
    color: white;
    margin: 1em auto 1em auto; }

/*# sourceMappingURL=styles.css.map */
