/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 1em 0 0.5em 0;
  font-size: 1.5em;
  line-height: 120%; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 1em 0 0.5em 0.3em;
  font-size: 1.5em;
  line-height: 120%;
  margin: 0.5em; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 1.5em 0 0.5em 0.3em;
  font-size: 1.2em;
  line-height: 120%; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 120%; }

p {
  font-family: Helvetica;
  font-weight: Lighter;
  font-size: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 130%; }

a {
  text-decoration: none;
  font-family: Helvetica;
  font-weight: Lighter; }

body, html {
  width: 100%;
  overflow-x: hidden; }

#container {
  width: 90%;
  margin: auto; }
  @media (min-width: 80em) {
    #container {
      width: 80%; } }
  @media (min-width: 130em) {
    #container {
      width: 60%; } }

#secondaryNav {
  background: linear-gradient(to bottom, #01B1AF 0%, #01B1AF 4px, #F9F9F9 4px, #F9F9F9 100%);
  position: relative;
  width: 100%;
  float: left; }
  @media (min-width: 20em) {
    #secondaryNav {
      height: 3em; }
      #secondaryNav ul {
        display: none; }
      #secondaryNav .mainSearch {
        display: none; } }
  @media (min-width: 65em) {
    #secondaryNav ul {
      float: right;
      display: block; }
      #secondaryNav ul li {
        display: inline-block;
        padding: 1.2em 0.7em; }
        #secondaryNav ul li a {
          color: #979797;
          font-size: 0.7em;
          transition: color 1s ease; }
        #secondaryNav ul li a:hover {
          color: #595959; }
    #secondaryNav .mainSearch {
      display: block; }
    #secondaryNav .mainSearch input#search {
      width: 40px;
      position: relative;
      margin: 0.9em 1em 0 2em;
      height: 29px;
      background: white;
      border: none;
      font-size: 10pt;
      float: right;
      padding-left: 17.6px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      transition: background 1s ease;
      transition: width 1s ease;
      color: #676767; }
    #secondaryNav ::-webkit-input-placeholder {
      color: #CACACA; }
    #secondaryNav :-moz-placeholder {
      /* Firefox 18- */
      color: #CACACA; }
    #secondaryNav ::-moz-placeholder {
      /* Firefox 19+ */
      color: #CACACA; }
    #secondaryNav :-ms-input-placeholder {
      color: #CACACA; }
    #secondaryNav .mainSearch input#search:hover, #secondaryNav .mainSearch input#search:focus, #secondaryNav .mainSearch input#search:active {
      outline: none;
      width: 210px;
      color: #CACACA; }
    #secondaryNav .mainSearch .searchicon:hover + input#search {
      width: 210px; }
    #secondaryNav .mainSearch span.searchicon {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 19px;
      margin-right: 30px;
      z-index: 1;
      color: #595959;
      font-size: 1em;
      transition: margin-right 1s ease; }
    #secondaryNav .mainSearch span.searchicon.hover {
      margin-right: 190px; } }

#secondaryNav:before, #secondaryNav:after {
  top: 0;
  width: 100em;
  height: 3em;
  display: block;
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, #01B1AF 0%, #01B1AF 4px, #F9F9F9 4px, #F9F9F9 100%); }

#secondaryNav:before {
  left: 100%; }

#secondaryNav:after {
  right: 100%; }

.mobileNavHandle i:nth-child(1) {
  font-size: 2em;
  color: #676767;
  position: absolute;
  top: 0.3em;
  left: -0.2em; }
.mobileNavHandle i:nth-child(2) {
  font-size: 1.6em;
  color: #676767;
  position: absolute;
  top: 0.5em;
  left: 1.5em; }
@media (min-width: 65em) {
  .mobileNavHandle {
    display: none; } }

#mainNav {
  width: 100%;
  float: left;
  z-index: 300; }
  @media (min-width: 20em) {
    #mainNav {
      text-align: center; }
      #mainNav ul {
        display: none; } }
  @media (min-width: 65em) {
    #mainNav ul {
      float: right;
      display: block; }
      #mainNav ul li {
        display: inline-block;
        margin-top: 2em; }
        #mainNav ul li a {
          color: #595959;
          font-size: 0.888em;
          padding: 2.3em 1em 2.3em 1em;
          margin-top: 1em;
          transition: background-color 1.2s ease;
          margin-right: -4px; }
        #mainNav ul li a:hover {
          background-color: #F8F8F8; }
      #mainNav ul li.current a {
        color: white;
        background-color: #2DCACA; } }
  #mainNav .logo {
    width: 18em;
    padding: 1em 0;
    margin: 0 !important; }
    @media (min-width: 65em) {
      #mainNav .logo {
        display: block;
        float: left; } }

.headerImage {
  position: absolute;
  width: 100%;
  top: 8em;
  left: 0;
  overflow: hidden; }
  @media (min-width: 20em) {
    .headerImage {
      height: 17em; }
      .headerImage img {
        transform: translateX(-40%);
        height: 17em; } }
  @media (min-width: 33em) {
    .headerImage img {
      height: 24em;
      transform: translateX(-34%); } }
  @media (min-width: 50em) {
    .headerImage img {
      height: 26em;
      transform: translateX(-24%); } }
  @media (min-width: 65em) {
    .headerImage {
      height: 26em; }
      .headerImage img {
        height: 30em;
        transform: translateX(-7%); } }
  @media (min-width: 90em) {
    .headerImage img {
      height: 40em;
      transform: translateX(0%); } }
  @media (min-width: 130em) {
    .headerImage {
      height: 35em; }
      .headerImage img {
        height: 45em;
        transform: translateX(0%); } }

.arrow {
  position: relative;
  float: left; }
  @media (min-width: 20em) {
    .arrow {
      margin-top: 15em;
      left: 50%;
      transform: translateX(-50%); } }
  @media (min-width: 65em) {
    .arrow {
      margin-top: 23em;
      left: 2em;
      transform: translateX(0%); } }
  @media (min-width: 130em) {
    .arrow {
      margin-top: 32em; } }

.info {
  background-color: #595959;
  float: left;
  margin-top: -0.2em;
  color: white;
  position: relative; }
  @media (min-width: 20em) {
    .info {
      text-align: center; } }
  @media (min-width: 65em) {
    .info {
      text-align: left; } }
  .info .primary {
    text-align: center;
    color: #FFF;
    display: block;
    width: 12em;
    background: #ccd700;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
    /* IE6-9 */
    margin: 0.5em auto 3.5em auto;
    padding: 1em 1.5em 1em 1.5em; }
    @media (min-width: 65em) {
      .info .primary {
        margin: 0.5em 0 3em 0;
        color: #FFF;
        display: block;
        width: 9em;
        background: #ccd700;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
        /* IE6-9 */ } }

.info:before, .info:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 200em;
  background-color: #595959; }

.info:before {
  left: 100%; }

.info:after {
  right: 100%; }

.whatWeOfferDesktop {
  width: 100%;
  margin: 4.5em 0 2em 0;
  padding: 0 0 2.8em 0;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 2px solid #F9F9F9; }
  .whatWeOfferDesktop p {
    padding: 1.6em 1.6em 5em 1.6em; }
  @media (min-width: 20em) {
    .whatWeOfferDesktop {
      display: none; } }
  @media (min-width: 65em) {
    .whatWeOfferDesktop {
      display: flex; }
      .whatWeOfferDesktop .secondaryService {
        flex-grow: 1;
        width: 16em;
        position: relative;
        background-color: #F8F8F8; }
        .whatWeOfferDesktop .secondaryService a.secondary {
          color: #FFF;
          display: block;
          width: 100%;
          background: #dddddd;
          /* Old browsers */
          background: -moz-linear-gradient(top, #dddddd 0%, #acacac 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #acacac));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #dddddd 0%, #acacac 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #dddddd 0%, #acacac 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #dddddd 0%, #acacac 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #dddddd 0%, #acacac 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#acacac',GradientType=0 );
          /* IE6-9 */
          height: 2.8em;
          text-align: center;
          line-height: 2.8em;
          position: absolute;
          bottom: 0; }
        .whatWeOfferDesktop .secondaryService img {
          height: auto;
          width: 100%; }
      .whatWeOfferDesktop .primaryService {
        flex-grow: 2;
        width: 23em;
        background-color: #F8F8F8;
        position: relative;
        margin-right: 5%;
        margin-left: 5%; }
        .whatWeOfferDesktop .primaryService a.primary {
          color: #FFF;
          display: block;
          width: 100%;
          background: #ccd700;
          /* Old browsers */
          background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
          /* IE6-9 */
          height: 3.3em;
          text-align: center;
          line-height: 3.3em;
          position: absolute;
          bottom: 0; }
        .whatWeOfferDesktop .primaryService img {
          height: auto;
          width: 100%; } }

.whatWeOffer {
  float: left;
  text-align: center; }
  .whatWeOffer h3.servicesMain {
    color: #FFF;
    display: block;
    width: auto;
    background: #ccd700;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
    /* IE6-9 */
    position: relative; }
  .whatWeOffer h3.servicesSecond {
    color: #FFF;
    display: block;
    width: auto;
    background: #dddddd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #acacac));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%, #acacac 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#acacac',GradientType=0 );
    /* IE6-9 */
    position: relative; }
  .whatWeOffer h3.servicesMain:after, .whatWeOffer h3.servicesMain:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 200em;
    background: #ccd700;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd700), color-stop(100%, #b1bb1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ccd700 0%, #b1bb1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ccd700 0%, #b1bb1e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd700', endColorstr='#b1bb1e',GradientType=0 );
    /* IE6-9 */ }
  .whatWeOffer h3.servicesSecond:after, .whatWeOffer h3.servicesSecond:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 200em;
    background: #dddddd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #acacac));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%, #acacac 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%, #acacac 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#acacac',GradientType=0 );
    /* IE6-9 */ }
  .whatWeOffer h3.servicesMain:before {
    left: 100%; }
  .whatWeOffer h3.servicesSecond:before {
    left: 100%; }
  .whatWeOffer h3.servicesMain:after {
    right: 100%; }
  .whatWeOffer h3.servicesSecond:after {
    right: 100%; }
  @media (min-width: 65em) {
    .whatWeOffer {
      display: none; } }

.whyRenaissance {
  float: left;
  text-align: center; }
  @media (min-width: 20em) {
    .whyRenaissance h1:after {
      content: "";
      display: block;
      margin: auto;
      width: 12em;
      height: 3px;
      margin-top: 0.7em;
      background-color: #2DCACA; }
    .whyRenaissance .whyRenaissanceTestimonials {
      display: none; } }
  @media (min-width: 65em) {
    .whyRenaissance {
      text-align: left; }
      .whyRenaissance h1 {
        padding-left: 0 !important;
        margin-left: 0 !important; }
      .whyRenaissance h1:before {
        background-color: #E7E7E7;
        content: "";
        display: block;
        width: 16em;
        height: 1px;
        position: relative;
        top: 1.7em; }
      .whyRenaissance h1:after {
        content: "";
        display: block;
        position: absolute;
        width: 10em;
        height: 3px;
        margin-top: 0.4em;
        background-color: #2DCACA; }
      .whyRenaissance .flexcontent1 {
        display: flex;
        justify-content: center; }
        .whyRenaissance .flexcontent1 .whyRenaissanceText {
          flex-grow: 2;
          margin-right: 1em;
          margin-top: 1em; }
        .whyRenaissance .flexcontent1 .whyRenaissanceTestimonials {
          display: block;
          flex-grow: 1;
          height: 18em;
          margin-left: 2.5em; }
          .whyRenaissance .flexcontent1 .whyRenaissanceTestimonials h4 {
            color: #2DCACA;
            float: left; }
          .whyRenaissance .flexcontent1 .whyRenaissanceTestimonials a {
            color: #FFF;
            display: block;
            width: 7em;
            background: #dddddd;
            /* Old browsers */
            background: -moz-linear-gradient(top, #dddddd 0%, #acacac 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #acacac));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #dddddd 0%, #acacac 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #dddddd 0%, #acacac 100%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #dddddd 0%, #acacac 100%);
            /* IE10+ */
            background: linear-gradient(to bottom, #dddddd 0%, #acacac 100%);
            /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#acacac',GradientType=0 );
            /* IE6-9 */
            padding: 0.5em 1em 0.5em 1em;
            margin-bottom: 2em;
            text-align: center;
            font-size: 0.9em;
            float: left; }
          .whyRenaissance .flexcontent1 .whyRenaissanceTestimonials i {
            color: #595959;
            float: left; }
          .whyRenaissance .flexcontent1 .whyRenaissanceTestimonials p {
            float: left; }
          .whyRenaissance .flexcontent1 .whyRenaissanceTestimonials div:nth-child(1) {
            margin-top: -3em;
            padding-bottom: 2em;
            float: left; }
          .whyRenaissance .flexcontent1 .whyRenaissanceTestimonials div:nth-child(2) {
            padding-bottom: 2em;
            float: left; } }

.latestBlogPost {
  float: left;
  text-align: center; }
  .latestBlogPost h1:after {
    content: "";
    display: block;
    margin: auto;
    width: 12em;
    height: 3px;
    margin-top: 0.7em;
    background-color: #2DCACA; }
  .latestBlogPost a {
    display: block;
    width: 13em;
    padding: 0.7em 1.5em 0.7em 1.5em;
    background: #70e3e3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70e3e3), color-stop(100%, #2dcaca));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #70e3e3 0%, #2dcaca 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #70e3e3 0%, #2dcaca 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70e3e3', endColorstr='#2dcaca',GradientType=0 );
    /* IE6-9 */
    color: white;
    margin: 1em auto 1em auto; }
  .latestBlogPost .desktopBlogText {
    display: none; }
  @media (min-width: 65em) {
    .latestBlogPost {
      text-align: left;
      margin-top: 2em;
      background-image: url("../Images/blogpostimage.jpg");
      outline: blue solid;
      width: 100%; }
      .latestBlogPost a {
        float: right; }
      .latestBlogPost .mobileBlogText {
        display: none; }
      .latestBlogPost .desktopBlogText {
        display: block;
        outline: red solid;
        float: left; }
        .latestBlogPost .desktopBlogText h3 {
          margin: 3em 0 0 0 !important;
          padding: 0 !important; }
        .latestBlogPost .desktopBlogText p {
          width: 24em;
          padding-bottom: 4em; }
      .latestBlogPost h1 {
        padding-left: 0 !important;
        margin-left: 0 !important; }
      .latestBlogPost h1:before {
        background-color: #E7E7E7;
        content: "";
        display: block;
        width: 16em;
        height: 1px;
        position: relative;
        top: 1.7em; }
      .latestBlogPost h1:after {
        content: "";
        display: block;
        position: absolute;
        width: 10em;
        height: 3px;
        margin-top: 0.4em;
        background-color: #2DCACA; } }

/*# sourceMappingURL=styles.css.map */
